body{
  background-color: cadetblue;
  text-align: center;
  background-image: url('./fondo.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
  background-attachment: fixed;
  overflow-x: hidden;
}
.title{
  font-weight: bold;
}
.card{
  width: 13rem;
  height: 20rem;
  text-align: left;
  margin: 20%;
}
.pagination{
  margin-right: 16%;
  float: right;
}
.active a{
  background-color:#85C1E9  !important;
}
.App-logo{
  width: 20%;
}
.buscador{
  margin-left: 20%;
  width: 83%;
}
.caja{
  margin-left: 0.8%;
}
.imagen{
  width: 90%;
}
.lista{
  text-align: left;
  margin-left: 7%;
}
.modal-header{
  background-color:#16A085;
  color: white;
}